@charset "UTF-8";

/* Footer */

#footer {
    background: #fff;
    margin: 0 auto 20px;
    clear: both;
    float: left;
    width: 984px;
    text-align: center;
    border-top: #fff 1px solid;
    border-radius: 0 0 15px 15px;
    padding: 0px 20px 5px 20px;
}
#poweredby {
    float: right;
}
#poweredby a {
    color: #2A485D;
    text-decoration: none;

}
