@charset "UTF-8";

/* Footer */

#footer {
    background: #fff;
    clear: both;
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-top: #fff 1px solid;
    border-radius: 0 0 15px 15px;
}
#container #footer {
    width: 1004px;
    padding: 0 20px 5px 0;
}
#poweredby {
    float: right;
    margin-right: 20px;
}
#container #poweredby {
    margin-right: 0;
}
#poweredby a {
    color: #2A485D;
    text-decoration: none;

}
