@charset "UTF-8";

#container {
    width: 1024px;
    margin: 20px auto;
}

#header {
    position: relative;
    z-index: 999;
    height: 73px;
    padding: 20px;
    background: #fff;
    border-radius: 15px 15px 0 0;
}

#logo a {
    background: url(img/logo_large.png) no-repeat;
    display: block;
    height: 73px;
    width: 246px;
    float: left;
}

@font-face {
  font-family: 'VAGRoundedStd';
  font-style: normal;
  font-weight: normal;
  src:  url('fonts/VAGRoundedStd.otf') format('truetype');
}
/*@font-face {
  font-family: 'VAGRoundedLight';
  font-style: normal;
  font-weight: normal;
  src:  url('fonts/VAGRoundedLight.otf') format('truetype');
}*/

#slogan {
    float: left;
    heigth: 73px;
    position: absolute; bottom: 0; left: 266px; 
    font-family: "VAGRoundedStd","Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
    font-size: 200%;
    letter-spacing: 1px;
    line-height: 120%;
    padding: 0  0 15px 30px;
}

/* Width of page */
.swidth {
	width: 640px;
}

/* Column container */
.colmask {
    position: relative;  /* This fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%;         /* width of whole page */
    overflow: hidden;    /* This chops off any overhanging divs */
    z-index: 0;          /* This keeps drop down menus visible on maps */
    /*margin-top: 42px;*/
}

/* common column settings */
.col3left {
    float: left;
    width: 33%;
    position: relative;
}
.col3mid, .col3right {
    float: right;
    width: 33%;
    position: relative;
}
.col2left {
    float: left;
    width: 49%;
    position: relative;
}
.col2right {
    float: right;
    width: 49%;
    position: relative;
}
.col1, .col2, .col3 {
    float: left;
    position: relative;
    overflow: hidden;
}

/* Full page settings */
.fullpage {
    background: #fff;    /* page background colour */
    overflow: visible;
    padding-top: 1px;
}
#container .fullpage {
    padding: 15px 11px 5px 11px;
    width: 1002px;
    margin-top: -1px; /* Removes line in FireFox */
}
.fullpage .col1 {
    left: 0.5%;         /* page left padding */
    width: 1250px;
}
#container .col1 {
    left: 0.5%;         /* page left padding */
    width: 994px;
    min-height: 466px;
}
#container .col1 #content {
    min-height: 450px;
}
.fullpage .col1  #content p {
    font-size: 16px;
}
.fullpage .col1  #content ul {
    /*font-family: "VAGRoundedLight";*/
    font-size: 18px;
    padding: 1em 0 0 75px;
}
.fullpage .col2 {
    padding: 5px 0 0 20px;
}

.aside {
    float: left;
    width: 200px;
}
.rightside {
    margin-left: 200px;
}
