@charset "UTF-8";

/* Overrides */

body {
    background: #005faf;
    /*font-family: 'Tangerine', serif;
    font-size: 48px;*/
}

.S3menulogo {
    background: url(img/logo_small.png) left top no-repeat;
    width: 93px;
}
.S3menuHome {
    padding-left: 95px;
}

#content {
    background: #f4f8ff;
}
#content h1 {
    background: #f4f8ff;
}
#content h2 {
    background: #f4f8ff;
    border-bottom: 0;
}