@charset "UTF-8";

/* Overrides */

body {
    background: #005faf;
    /*font-family: 'Tangerine', serif;
    font-size: 48px;*/
}

.S3menulogo {
    background: url(img/logo_small.png) left top no-repeat;
    width: 93px;
}
.S3menuHome {
    padding-left: 95px;
}

#content {
    background: #f4f8ff;
}
#content h1 {
    background: #f4f8ff;
}
#content h2 {
    background: #f4f8ff;
    border-bottom: 0;
}
.fullpage .col1  #content p {
    font-size: 16px;
}
.fullpage .col1  #content ul {
    font-size: 16px;
    padding: 10px 0 0 35px;
}
.fullpage .col1  #content ul.large {
    /*font-family: "VAGRoundedLight";*/
    font-size: 18px;
    padding: 10px 0 0 50px;
}
