@charset "UTF-8";

body {
    color: #000;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 75%;
}

p {
    margin: 0;
    padding: 5px;
}

#content {
    background: none repeat scroll 0 0 #f0f3f4;
    border: 1px solid #bbb;
    border-radius: 10px;
    margin: 6px 5px 2px;
    overflow: auto;
    padding: 6px 10px;
}

#content h1, #content h2 {
    /* background: none repeat scroll 0 0 #cfdde7;*/
    border-bottom: 1px solid #bbb;
    color: #112038;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 5px 5px;
}

/* Overrides */

body {
    background: #005faf;
    /*font-family: 'Tangerine', serif;
    font-size: 48px;*/
}

.S3menulogo {
    background: url(img/logo_small.png) left top no-repeat;
    width: 93px;
    display: inline-block;
    height: 28px;
    left: 2px;
    position: absolute;
    text-shadow: none;
    top: 3px;
}
.S3menuHome {
    padding-left: 95px;
}

#content {
    background: #f4f8ff;
}
#content h1 {
    background: #f4f8ff;
}
#content h2 {
    background: #f4f8ff;
    border-bottom: 0;
}
.fullpage .col1  #content p {
    font-size: 16px;
}
.fullpage .col1  #content ul {
    font-size: 16px;
    padding: 10px 0 0 35px;
}
.fullpage .col1  #content ul.large {
    /*font-family: "VAGRoundedLight";*/
    font-size: 18px;
    padding: 10px 0 0 50px;
}
