// ============================================================================
// Styles for public pages (CMS)
// ============================================================================

/* Top Menu */
header.home-top {
    color: #eef;
    background-color: $nightsky;
    .logo {
        background-image: url(img/logo_large_light.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 84px;
        margin: 1.5rem 10%;
    }
    .menu {
        margin: 1rem 1rem 2rem 0;
        padding-top: .25rem;
        text-align: right;
        li {
            font-size: 0.85rem;
            @media #{$medium-up} {
                font-size: 1rem;
            }
            font-weight: normal;
            a {
                color: #999;
                display: inline-block;
                padding: .0625rem .1875rem;
                text-decoration: none;
            }
            a:hover {
                color: #737373;
            }
        }
        li:before {
            color: #999;
            content: "|";
            margin-top: -0.25rem;
            margin-left: 0.75rem;
            margin-right: 0.75rem;
        }
        li:first-child:before {
            content: "";
            margin: 0;
        }
    }
}
.row.home-alert {
    background-color: $nightsky;
}

/* Bottom Menu */
footer {
    .menu {
        li {
            font-size: .75rem;
            font-weight: normal;
            a {
                color: #999;
                display: inline-block;
                padding: .0625rem .1875rem;
                text-decoration: none;
            }
            a:hover {
                color: #737373;
            }
        }
        li:before {
            color: #999;
            content: "|";
            margin: 0 .75rem;
        }
        li:first-child:before {
            content: "";
            margin: 0;
        }
    }
}

.button.info{
    background-color: #40a393;
}

.button.secondary {
    border-color: $secondary-color;
}

.cms-item {

    .button {
        padding: 1rem 2rem 1.0625rem 2rem;
        font-size: 1rem;
    }

    .row.content-dark,
    .row.content-light {
        padding: 1.4rem;
        h2 {
            margin-top: 0;
            line-height: 1.0;
        }
        /* "Our Services" on Homepage */
        h3 {
            color: $oil;
            font-size: 1.375rem;
            @media #{$medium-up} {
                font-size: 1.6875rem;
            }
        }
        .centered-content {
            padding: 1.4rem 0;
            font-size: 1.4rem;
            text-align: center;
        }
        .icon-grid label {
            font-size: 1rem;
            text-align: center;
            padding: 1rem;
            color: $oil;
            h6 {
                color: inherit;
            }
            i {
                display: block;
                font-size: 2rem;
            }
            .sub {
                display: block;
                font-size: 0.8rem;
            }
        }
        .buttons {
            margin-top: 1.4rem;
        }
        .callout {
            background-color: $almostwhite;
        }
        .callout h5 {
            font-size: 1.0625rem;
            @media #{$medium-up} {
                font-size: 1.125rem;
            }
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .callout p {
            font-size: 1rem;
        }

        .icon-bar {
            padding-top: 1.4rem;
            max-width: 32rem;
            background: transparent;
        }

        .team-portrait {
            float: left;
            height: 250px;
            margin: 0rem 1.5rem 1rem 0;
        }

        .form-container {
            text-align: center;
            form {
                max-width: 100%;
                display: inline-block;
                border: none;
                text-align: left;
                input[type="text"],
                input[type="email"] {
                    height: auto;
                    padding: 0.7rem!important;
                    width: 20rem!important;
                    max-width: 100%;
                }
                select {
                    width: 20rem !important;
                    height: auto;
                    padding: 0.7rem 0.3rem !important;
                }
                textarea {
                    padding: 0.7rem!important;
                    width: 40rem;
                    height: 10rem;
                    max-width: 100%;
                }
            }
        }


    }

    .row.content-dark {
        background-color: $nightsky;
        color: #ebebeb;
        h3 {
            color: $almostwhite;
        }
        .icon-grid label {
            color: $almostwhite;
        }
        &.header {
            padding: 0 0 2.8rem;
            text-align: center;
        }
        i {
            display: block;
            font-size: 2rem;
        }
        .slogan {
            display: block;
            font-size: 1.4rem;
            @media #{$medium-up} {
                font-size: 2.8rem;
            }
            padding: 1.4rem 0;
            font-weight: bold;
        }
        p.sub-header {
            display: inline-block;
            font-size: 1rem;
            @media #{$medium-up} {
                font-size: 1.2rem;
            }
            max-width: 66%;
        }
    }
}

// Pricing Table no longer exists in Foundation 6 core, so those elements copied here
.pricing-table {
    border: solid 1px #DDDDDD;
    margin-left: 0;
    margin-bottom: 1.25rem;
    &.priority {
        border: 1px solid $nightsky;
    }
    * {
        list-style: none;
        line-height: 1;
    }
    .price-comment {
        display: block;
        font-size: 0.9rem;
        font-style: italic;
        padding: 0.3rem;
        color: #ccc;
    }
    .title {
        background-color: #333;
        color: #eee;
        font-family: Arial, "Helvetica Neue", Helvetica, Roboto, sans-serif;
        font-size: 1rem;
        font-weight: normal;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 0.9375rem;
        padding-bottom: 0;
        text-align: center;
        background: transparent;
        h4 {
            color: $nightsky;
            margin-bottom: 0;
            .fa {
                padding-right:1rem;
            }
            .subtitle {
                display: block;
                font-size: 0.9rem;
                padding: 0.5rem;
            }
        }
    }
    .price {
        background-color: #f6f6f6;
        color: #333;
        font-family: Arial, "Helvetica Neue", Helvetica, Roboto, sans-serif;
        font-size: 2rem;
        font-weight: normal;
        padding: 0.9375rem 1.25rem;
        text-align: center;
        .price-term {
             font-size: 1rem;
             padding-left: 0.3rem;
        }
    }
    .description {
        background-color: #fff;
        border-bottom: dotted 1px #ddd;
        color: #777;
        font-size: 0.75rem;
        font-weight: normal;
        line-height: 1.4;
        padding: 0.9375rem;
        text-align: center;
    }
    .bullet-item {
        background-color: #fff;
        border-bottom: dotted 1px #ddd;
        color: #333;
        font-size: 0.875rem;
        font-weight: normal;
        padding: 0.9375rem;
        text-align: center;
    }
    .cta-button {
        background-color: #fff;
        padding: 1.25rem 1.25rem 0;
        text-align: center;
        .button {
            @media #{$large-up} {
                min-width: 14rem;
            }
        }
    }
}

[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem;
}
/* line 237, ../../foundation/scss/components/_global.scss */
[class*="block-grid-"]:before, [class*="block-grid-"]:after {
  content: " ";
  display: table;
}
/* line 238, ../../foundation/scss/components/_global.scss */
[class*="block-grid-"]:after {
  clear: both;
}
/* line 51, ../../foundation/scss/components/_block-grid.scss */
[class*="block-grid-"] > li {
  display: block;
  float: left;
  height: auto;
  padding: 0 0.625rem 1.25rem;
}

@media only screen {
  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-1 > li {
    list-style: none;
    width: 100%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-1 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-2 > li {
    list-style: none;
    width: 50%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-2 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-3 > li {
    list-style: none;
    width: 33.33333%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-3 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-4 > li {
    list-style: none;
    width: 25%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-4 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-5 > li {
    list-style: none;
    width: 20%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-5 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-6 > li {
    list-style: none;
    width: 16.66667%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-6 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-7 > li {
    list-style: none;
    width: 14.28571%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-7 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-8 > li {
    list-style: none;
    width: 12.5%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-8 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-9 > li {
    list-style: none;
    width: 11.11111%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-9 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-10 > li {
    list-style: none;
    width: 10%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-10 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-11 > li {
    list-style: none;
    width: 9.09091%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-11 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-12 > li {
    list-style: none;
    width: 8.33333%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-12 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 40.0625em) {
  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-1 > li {
    list-style: none;
    width: 100%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-1 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-2 > li {
    list-style: none;
    width: 50%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-2 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-3 > li {
    list-style: none;
    width: 33.33333%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-3 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-4 > li {
    list-style: none;
    width: 25%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-4 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-5 > li {
    list-style: none;
    width: 20%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-5 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-6 > li {
    list-style: none;
    width: 16.66667%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-6 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-7 > li {
    list-style: none;
    width: 14.28571%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-7 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-8 > li {
    list-style: none;
    width: 12.5%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-8 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-9 > li {
    list-style: none;
    width: 11.11111%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-9 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-10 > li {
    list-style: none;
    width: 10%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-10 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-11 > li {
    list-style: none;
    width: 9.09091%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-11 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-12 > li {
    list-style: none;
    width: 8.33333%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-12 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .medium-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 64.0625em) {
  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-1 > li {
    list-style: none;
    width: 100%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-1 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-2 > li {
    list-style: none;
    width: 50%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-2 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-3 > li {
    list-style: none;
    width: 33.33333%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-3 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-4 > li {
    list-style: none;
    width: 25%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-4 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-5 > li {
    list-style: none;
    width: 20%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-5 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-6 > li {
    list-style: none;
    width: 16.66667%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-6 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-7 > li {
    list-style: none;
    width: 14.28571%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-7 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-8 > li {
    list-style: none;
    width: 12.5%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-8 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-9 > li {
    list-style: none;
    width: 11.11111%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-9 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-10 > li {
    list-style: none;
    width: 10%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-10 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-11 > li {
    list-style: none;
    width: 9.09091%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-11 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  /* line 62, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-12 > li {
    list-style: none;
    width: 8.33333%;
  }
  /* line 69, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-12 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../../foundation/scss/components/_block-grid.scss */
  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}