// ============================================================================
// Styles for Menus
// ============================================================================
// VARIABLES

$topbar-link-bg-active: scale-color($topbar-background, $lightness: +20%);

// ============================================================================
// STYLES

/* Top (Modules) Menu) */
/* - only for Authenticated Users */
.top-bar {
    height: 3rem;
    // Menu logo
    .S3menulogo {
        display: inline-block;
        background: url(img/logo_small_light.png) 50% no-repeat;
        min-width: 128px;
        min-height: 40px;
        margin-right: 1rem;
    }
    a.S3menulogo:hover {
        background: url(img/logo_small_light.png) 50% no-repeat;
    }
    a {
        color: $white;
        font-size: .875rem;
        line-height: 1.6rem; // 3 - 1.4 (top/bottom padding)
    }
    a:hover {
        background: scale-color($topbar-background, $lightness: +10%);
    }
    .menu .active > a {
        color: $white;
        background: $topbar-link-bg-active;
    }
    .menu .active > a:hover {
        background: scale-color($topbar-link-bg-active, $lightness: -10%);
    }
    .menu.dropdown {
        // Display over the Alerts (98)
        z-index: 100;
    }
}

/* Side (Options) Menu) */
aside.columns {
    font-size: .875rem;
    padding-left: 0.7em;
    padding-right: 0.6rem;
    a {
        background: #f3f3f3;
        color: #666;
    }
    a:hover {
        color: $primary-color;
        background: hsla(0, 0, 0, .025);
    }
    li.heading {
        margin-top: .125rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    li.heading:not(:first-child) {
        border-top: 1px solid #eaeaea;
    }
    .menu .active > a {
        color: #444;
        background: #e0e1e2;
    }
    .menu .active > a:hover {
        color: $primary-color;
        background: hsla(0, 0, 0, .025);
    }
    .menu.nested {
        margin-left: 1.25rem;
    }
    nav {
        background: #f3f3f3;
        margin-top: 10px;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
}

// END ========================================================================
